@import 'bulma';

.container {
    width: 500px;
    margin: 25px auto;
}

nav {
  border-bottom: 1px solid black;
}
.logo {
  font-size: 150%;
  letter-spacing: 2px;
}

i.fa {
  padding-top: 20px;
}

.create-button {
  margin-left: 12px;
  margin-top: 10px;
}

.signin-button {
  margin-left: 50px;
  margin-top: 10px;
}

.devs {
  margin: 15px;
}
