@import 'bulma';
//heart
.activeIcon {
  color: #FF735C;
}

.container {
    width: 1000px;
    margin: 25px auto;
}

nav {
  border-bottom: 1px solid black;
}

.logo {
  font-size: 150%;
  letter-spacing: 2px;
  //font-family: 'Lobster', cursive;
}

.tagline {
  font-size: 60%;
}

i.fa {
  padding-top: 20px;
}

.register {
  padding-left: 300px;
}

.register input {
  margin: 5px;
}

.login {
  padding-right: 300px;
}

.login input {
  margin: 5px;
}

.add-pic input {
  margin: 5px;
}


.create-button {
  margin-left: 12px;
  margin-top: 10px;
}

.signin-button {
  margin-left: 50px;
  margin-top: 10px;
}

.devs {
  margin: 15px;
  margin-bottom: 50px;
}

.pic-title {
  text-align: center;
  padding-top: 5px;
}

.media-content {
  height: 30px;
}

.notification {
  margin-bottom: 50px;
}

.main-container {
  margin: 20px;
}

.mouse-over {
  position: absolute;
  z-index: 2;
  margin-top: 153px;
  margin-left: 198px;
  visibility: hidden;
 }

.card:hover .mouse-over {
  visibility: visible;
}

i.fa.fa-heart-o {
  height: 20px;
  width: 20px;
}

.add-pic {
  padding-left: 400px;
  height: 400px;
}

.add-pic {
  margin: 5px;
}

.main-content {
  flex: 1;
}

.modal-card-foot {
  min-height: 120px;
  display: flex;
  align-content: flex-end;

}

.comments {
  display: flex;
  flex-direction: column;
  position: relative;
  //border: 1px solid lightgrey;
  // justify-content: flex-start;
}

.comment-box {
  position: absolute;
  margin-left: 410px;
  margin-top: 10px;

  input {
    height: 35px;
    margin: 7px;
    margin-right: 4px;
    margin-left: 0px;
  }
}

span.username-in-modal {
  font-weight: bold;
}

footer.footer {
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-list li {
  display: inline-block;
  margin-top: 35px;
  padding-left: 40px;
  font-size: 110%;
}

.footer-list a {
  color: grey;
}

footer p {
  font-size: 85%;
  align-self: baseline;
}

.copyright {
  margin-top: -10px;
}
