<div class="container columns">
<!---Marie's Card Tab------------------------------------------>
  <div class="card column devs">
    <div class="card-image">
      <figure class="image is-1by1">
        <img src="/images/marie.jpeg" alt="Image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <a href="http://twitter.com/mariefilbs">
          <p class="title is-4">Marie Filbey</p>
          <p class="subtitle is-6">@mariefilbs</p>
        </a>
        </div>
      </div>

      <div class="content">
        Former bartender turned programming champion. She also moonlights as a Disney Princess.
        <br>
        <a href="http://github.com/mariefilbs"><small>Check out Marie's GitHub!</small></a>
      </div>
    </div>
  </div>
  <!-------------------------------------------------------------->
  <!----Kurt's Card Tab-------------------------------------------->
  <div class="card column devs">
    <div class="card-image">
      <figure class="image is-128by128">
        <img src="/images/kurt.jpeg" alt="Image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">Kurt Wyckoff</p>
          <p class="subtitle is-6">@kurt</p>
        </div>
      </div>

      <div class="content">
        Former rockstar Kurt traded in shredding the guitar for shredding the keyboard (computer keyboard, that is).
        <br>
        <a href="https://github.com/rkwyckoff"><small>Check out Kurt's Github!</small></a>
      </div>
    </div>
  </div>
</div>
<!---------------------------------------------------------->
<!-----Assignment Info-------------------------------------->
<div class="assignment-info container is-fluid">
  <div class="notification">
    We are extremely excited to welcome you to <strong> SnapShots!</strong>
    <br></br>
    We proudly created this site in less than 48 hours and we'd like to give you access to our <a href="https://github.com/mariefilbs/snapshots-front">Front End code</a> as well as our <a href="https://github.com/rkwyckoff/snapshots-back">Back End source code</a>.
    This was our first experience creating an application from scratch, integrating the Front End and Back End. We are using <thead>
      AngularJS framework on the Front and NodeJS, Express, and Sequelize on the Back.
    </thead>
  </div>
</div>
