<!----navigation panel---------------------------------->
    <nav class="nav">
       <div class="nav-left">
        <a class="nav-item logo">SnapShots</a>
        <i class="fa fa-camera-retro" aria-hidden="true"></i>
      </div>

  <!--Take away 'is active' if we want hidden on mobile -->
      <div class="nav-right nav-menu is active">
        <a href="#!/home" class="nav-item">Home</a>
        <a href="#!/users" class="nav-item" ng-hide="loggedIn">Sign Up/Login</a>
        <a class="nav-item" ng-show="loggedIn" ng-click="signOut()">Sign Out</a>
        <a href="#!/photos" class="nav-item" ng-hide="!loggedIn">Upload Photo</a>
        <i class="fa fa-github" aria-hidden="true"></i>
        <a href="#!/developers" class="nav-item">About Developers</a>
      </div>
    </nav>
<!------end nav panel------------------------------------->
<div class="main-content" ui-view></div>
<!------footer-------------------------------------------->
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <ul class="footer-list">
        <li><a href="/#!/home">Home</a></li>
        <li><a href="#!/developers">About Developers</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="https://github.com/rkwyckoff/snapshots-back/blob/master/ReadMe.md">API</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Directory</a></li>
      </ul>
      <p>
        <strong>SnapShots</strong> by <a href="https://www.linkedin.com/in/marie-filbey/">Marie Filbey</a> and <a href="https://www.linkedin.com/in/rkwyckoff/">Kurt Wyckoff</a>.
      </p>
      <p class="copyright">&copy 2017</p>
    </div>
  </div>
</footer>
<!---------------------------------------------------------->
