<div class="columns is-multiline">
  <div class="column is-one-quarter" ng-repeat='photo in photos'>
    <div class="card">

      <div class="mouse-over">
          <span><i class="fa fa-heart-o" aria-hidden="true" ng-click="activateHeart()" ng-class="{'activeIcon': isActive}"></i></span>
          <!-- <span><img class="heart" src="/images/heart.png" ng-click="activateHeart()" ng-class="{'activeIcon': isActive}"><span> -->
        </div>

      <a href="/#!/home/photos/{{ photo.id }}">
      <div class="card-image is">
        <figure class="image is-4by3">
          <img ng-src="{{ photo.photo_url }}" alt="Image">
        </figure>
      </div>
      <div class="media">
       <div class="media-content">
        <p class="title is-5">{{ photo.title }}</p>
       </div>
      </div>
     <div class="content">
      <!---where comments will go--->
      <br>
      <small>{{ user.username }}</small>
     </div>
     </a>
    </div>
  </div>
</div>

<div class="details" ui-view></div>
