<div class="main-container">
  <div class="columns is-multiline">
    <div class="column is-one-quarter" ng-repeat='photo in photos'>
      <div class="card">

        <div class="mouse-over">
            <span><i class="fa fa-heart-o" aria-hidden="true" ng-click="toggleLike(photo)" ng-class="{'activeIcon': photo.liked}"></i></span>
          </div>

        <a href="/#!/home/photos/{{ photo.id }}">
        <div class="card-image is">
          <figure class="image is-4by3">
            <img ng-src="{{ photo.photo_url }}" alt="Image">
          </figure>
        </div>
        <div class="media">
         <div class="media-content">
          <p class="title is-6 pic-title">{{ photo.title }}</p>
         </div>
        </div>
       </a>
      </div>
    </div>
  </div>
</div>

<div class="details" ui-view></div>
