<div class="main-container">
<a href="#!/photos">
<div class="columns is-multiline">
  <div class="column" ng-repeat='photo in photos'>
    <div class="card">
      <div class="card-image is">
        <figure class="image is-4by3">
          <img src="{{ photo.photo_url }}" alt="Image">
        </figure>
      </div>
      <div class="media">
       <div class="media-content">
        <p class="title is-4">{{ photo.title }}</p>
       </div>
      </div>
     <div class="content">
      <!---where comments will go--->
      <br>
      <small>{{ user.username }}</small>
     </div>
    </div>
   </div>
  </div>
 </a>
</div>
