<!----Sign Up/Login forms--------------------------------->
    <div class="container">
      <div ng-controller="UserController">
        <div class="columns">
        <div class="column">
     <!---new user notification--------->
     <div ng-repeat="msg in notifications" class="notification is-primary">
      <button ng-click="removeMsg(msg)"
            class="delete"></button>
            {{ msg }}
     </div>
     <!--------------------------------->

         <h4>Register:</h4>
         <form ng-submit="addUser(user)">
           <p class="control">
             <input type="text" placeholder="Username"
                    ng-model="user.username" />
           </p>

           <p class="control">
             <input type="text" placeholder="Email"
                    ng-model="user.email" />
           </p>
           <p class="control">
             <input type="text" placeholder="Password"
                    ng-model="user.password" />
           </p>
           <p class="control">
             <input type="text" placeholder="Add a Profile Picture"
                    ng-model="user.profile_url" />
           </p>
           <p class="control">
             <button class="button is-primary create-button">Create account!</button>
           </p>
         </form>
        </div>

     <div class="column">
       <h4>Login</h4>

       <form ng-submit="signIn(login)">

        <p class="control">
          <input type="text" placeholder="Email"
                ng-model="login.email" />
        </p>
        <p class="control">
          <input type="password" placeholder="Password"
                ng-model="login.password" />
        </p>

        <p class="control">
          <button class="button is-primary signin-button">Sign In</button>
        </p>
       </form>
      </div>
       </div>
     </div>
    </div>
