<div class="modal is-active">
 <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img ng-src="{{ photo.photo_url }}">
    </p>
  <footer class="modal-card-foot">
    <!-- <div class="photo-posted-by">{{ photo.user.username}}</div> -->
    <div class="comments">
     <p ng-repeat="comment in comments">{{ comment.User.username}}: {{ comment.text }}</p>
     <p>{{ liveComment.text }}</p>
    <div>
      <a class="button is-primary" ng-click="addComment(data.comment)">Add</a>
      <a class="button" ng-click="deactivate()">Cancel</a>
      <input type="text" placeholder="Add comment..." ng-model="data.comment"/>
    </footer>
  <button class="modal-close" ng-click="deactivate()"></button>
 </div>
</div>
